* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  width: 800px;
  height: 400px;
  margin: auto;
  margin-top: 100px;
  border: 2px green solid;
  position: relative;
  overflow: hidden;
}

.pipe {
  position: absolute;
  bottom: 0;
  animation: pipe-animation 2s linear infinite;
  /* left: 80px; */
  height: 100px;
  width: 80px;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}

.mario {
  position: absolute;
  height: 120px;
  bottom: 0px;
}

.mario-jump {
  animation: mario-jump 500ms ease-out;
}

@keyframes mario-jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;

  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }
}

.clouds {
  position: absolute;
  height: 120px;
  width: 260px;
  top: 20px;
  right: -260px;
  animation: clouds-x-movement 10s linear infinite;
}

@keyframes clouds-x-movement {
  from {
    right: -260;
  }

  to {
    right: 100%;
  }
}


#divMario {
  position: absolute;
  border: 1px green solid;
}

#divPipe {
  position: absolute;
  border: 1px red solid;
  height: 10px;
  width: 10px;
  
}